.container{
  width: 100%;
  height: 4rem;
  display: flex;
}
.content{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.title{
  display: flex;
  margin: .5rem;
  align-items: center;
}
.title>a>img{
  height: 3rem;
  border-radius: 10rem;
}

.login{
  width: 5rem;
  height: 2.5rem;
  margin: .75rem;
  background-color: #525b66;
  border: none;
  border-radius: .2rem;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
}
.div1{
  display: flex;

}
.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile>img{
  width: 3rem;
  height: 3rem;
  border-radius: 20rem;
}
