
.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow: hidden;
}
.container{
  overflow-y:scroll ;
}
.container::-webkit-scrollbar{
  width: 0;
}
.title{
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #b7c9e27a;
  padding: 1rem;
}
.event{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.event-home{
  width: 250px;
  overflow: hidden;
  height: 300px;
  border-radius: 1rem;
  border: 1px solid lightcyan;
  background-color: aliceblue;
  display:flex;
  flex-direction: column;
  margin: .5rem;
  cursor: pointer;
}
.upper{
  width: 100%;
  height: 50%;
  position: relative;
  display: block;
  overflow: hidden;
}
.upper>img{
  width: 100%;
  object-fit: contain;
  display: block;
}
.upper>span{
  position: absolute;
  top: 8px;
  left: 8px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 2px 8px;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
}
mat-icon{
  font-size: 1.3rem;
}
.upper>span>span{
  text-transform: capitalize;
}
.name{
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
  margin: .4rem .2rem .2rem;

}
.location{
  display: flex;
}
.location>span{
  margin-left: .1rem;
  margin-top: .1rem;
}
.div1{
  display: flex;
  justify-content: space-between;
  margin: .3rem;
}
.div2{
  width: 6.5rem;
  margin-right: .2rem;
}
span{
  display: flex;
}
.div4>span{
  margin: .3rem;
  background: rgba(173, 216, 230, 0.684);
  width: 5rem;
  padding: .3rem;
  border-radius: 2rem;
}
.div4>.free{
  background: rgba(179, 250, 108, 0.586);
  width: 4rem;
  padding: .5rem;
  color: #000;
}
.div5{
  display: flex;
}
.div6>span
{
  margin: .3rem;
  background: rgba(173, 216, 230, 0.684);
  width: 10rem;
  padding: .3rem;
  border-radius: 2rem;
}
